<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel testing" parallel="methods" thread-count="2">
  <test  name="parallel" thread-count="1" >
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="scenario2.Admin">
      </class>
    </classes>
  </test>
   <test  name="parallel1" thread-count="1">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="scenario2.Admin">
      </class>
    </classes>
  </test>
</suite> <!-- Parallel testing -->
 <!-- <methods>
      <include name="Counting"></include>
      <include name="searchByUserName"></include>
      <include name="searchByUserRole"></include>
      <include name="searchByUserStatus"></include>
      </methods>-->